.add-message-button{
  padding-bottom: 5px;
}

.messages-buttons {
  margin-left: 85%;
}

.messages-card {
  max-width: 500px;
}

.new-message-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.new-message-full-width {
  width: 100%;
}
