/* .topic{
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.message{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
    text-align: center;
}

.table{
    width: 100%;
}

p{
    margin: 8px;
    text-align: left;
}
 */

 .messages-card {
    max-width: 400px;
  }