<div class="topic">
  <mat-card class="topic-card">
    <mat-card-title>
      {{ topic.title | titlecase }}
    </mat-card-title>
    <mat-card-content>{{ topic.description }}</mat-card-content>
    <div class="message" *ngFor="let message of topic.messages">
      <mat-card class="messages-card">
        <mat-card-title>{{ message.title | titlecase }}</mat-card-title>
        <mat-card-subtitle>{{ message.author }}</mat-card-subtitle>
        <mat-card-content>{{ message.text }}</mat-card-content>
        <div class="messages-buttons">
          <button>
            <mat-icon aria-label="Edit this message">edit</mat-icon>
          </button>
          <button>
            <mat-icon aria-label="Delete this message">delete</mat-icon>
          </button>
        </div>
      </mat-card>      
    </div>
  </mat-card>
</div>
<!-- <div class="add-message-button">
  <span>
    <button>
      <mat-icon aria-label="Add new message" (click)="toggleAddMessage()"
        >add
      </mat-icon>
    </button>
  </span>
</div> -->

<!-- <div *ngIf=(showAddMessage)>
  <app-add-message></app-add-message>
</div> -->

